{% extends "basic_template/basic.html" %}


{% block title %}
    <title>
        User Profile
    </title>
{% endblock %}

{% block page_css %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/app-assets/css/pages/app-chat.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/app-assets/css/pages/app-chat-list.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/custom/css/main.css')}}">

{% endblock %}


{% block content %}

<div class="app-content content chat-application">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-area container-xxl p-0">
            <div class="card m-0" style="width: 100%">
                    <div class=card-header" style="padding: 10px 0 10px 20px">
                        <h4 class="card-title" style="margin-bottom: 0">Profile</h4>
                    </div>
                <div class="card-body pb-0 pt-0">
                    <div class="card card-block" >
                    <div class="card-body my-25" style="flex: none; padding: 0 1.5rem">
                    <!-- header section -->
                    <div class="d-flex">
                        <a href="#" class="me-25">
                            <img id="avatar_profile"  src="{{ url_for('static', path='/custom/image/blank-avatar.png')}}" class="uploadedAvatar rounded me-50" alt="profile image" height="100" width="100">
                        </a>
                        <!-- upload and reset button -->
                        <div class="d-flex align-items-end mt-75 ms-1">
                            <div>
                                <label for="avatar-upload" class="btn btn-sm btn-primary mb-75 me-75 waves-effect waves-float waves-light">Upload</label>
                                <input type="file" id="avatar-upload" onchange="loadPreviewImage(this)" hidden="" accept="image/*">
                                <button type="button" id="avatar-reset" onclick="deleteImage()" class="btn btn-sm btn-outline-secondary mb-75 waves-effect">Reset</button>
                                <p class="mb-0">Allowed file types: png, jpg, jpeg.</p>
                            </div>
                        </div>
                        <!--/ upload and reset button -->
                    </div>

                </div>
                    <form class="form">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="username_input">Username</label>
                                    <input type="text" id="username_input" class="form-control" placeholder="Username" name="fname-column">
                                    <p class="error" id="username_error"></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="email_input">Email</label>
                                    <input type="text" disabled id="email_input" class="form-control" placeholder="Email" name="lname-column">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="password">New password</label>
                                    <input type="password" id="password" class="form-control" placeholder="New password" name="city-column">
                                    <p class="error" id="password_error"></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="password2">Repeat password</label>
                                    <input type="password" id="password2" class="form-control" name="country-floating" placeholder="Repeat password">
                                    <p class="error" id="password2_error" ></p>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="button" id="save_button" onclick="updateProfile()" class="btn btn-primary me-1 waves-effect waves-float waves-light">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                    </div>

                        <!-- Modal to add new user starts-->

                        <!-- Modal to add new user Ends-->
                    </div>
            <div class="card m-0 " style="width: 100%">
                    <div class=card-header" style="padding: 10px 0 10px 20px">
                        <h4 class="card-title" style="margin-bottom: 0">Statistics</h4>
                    </div>
                <div class="card-body pb-0 pt-0">
                    <div class="card card-block" >
                        <p class="bold-text mb-0">Messages in chats: <span id="messages_count">25542</span></p>
                        <p class="bold-text mb-0">Wallets: <span id="wallets_count">4</span></p>
                    </div>
                    </div>

                        <!-- Modal to add new user starts-->

                        <!-- Modal to add new user Ends-->
                    </div>
            <div class="card m-0 " style="width: 100%">
                    <div class=card-header" style="padding: 10px 0 10px 20px">
                        <h4 class="card-title" style="margin-bottom: 0">Wallets Management</h4>
                    </div>
                <div class="card-body pb-0 pt-0">
                    <div class="card card-block">
                        <div class="row wallets">
                            <h4 style="color: darkred; font-weight: bold; display: none" id="no_wallets">No wallets</h4>
                        </div>

                        <div class="col-12 mt-75">
                                <button type="button" id="import_button" class="btn btn-primary me-1 waves-effect waves-float waves-light" data-bs-toggle="modal" data-bs-target="#addNewCard" onclick="open_modal()">Import ETH wallet</button>
                                <button type="button" id="create_button" class="btn btn-primary me-1 waves-effect waves-float waves-light" onclick="create_wallet()">Create ETH wallet</button>
                        </div>
                    </div>

                </div>
                        <!-- Modal to add new user starts-->

                <div class="modal fade" id="addNewCard" tabindex="-1" aria-labelledby="addNewCardTitle" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-transparent">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-sm-5 mx-50 pb-5">
                                <h1 class="text-center mb-1" id="addNewCardTitle">Import Wallet</h1>

                                <!-- form -->
                                <form id="addNewCardValidation" class="row gy-1 gx-2 mt-75" onsubmit="return false" novalidate="novalidate">
                                    <div class="col-12">
                                        <label class="form-label" for="modal_key">Wallet private key</label>
                                        <div class="input-group input-group-merge">
                                            <input id="modal_key" name="modalAddCard" class="form-control add-credit-card-mask" type="text" placeholder="Enter private key" aria-describedby="modalAddCard2" data-msg="Please enter your credit card number">
                                        </div>
                                    </div>

                                    <div class="col-12 text-center">
                                        <button type="buttton" class="btn btn-primary me-1 mt-1 waves-effect waves-float waves-light" onclick="import_wallet()" data-bs-dismiss="modal" aria-label="Close">Submit</button>
                                        <button type="reset" class="btn btn-outline-secondary mt-1 waves-effect" data-bs-dismiss="modal" aria-label="Close">
                                            Cancel
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                        <!-- Modal to add new user Ends-->
                    </div>

        </div>
    </div>

{% endblock %}

{% block script %}


<!--Custom css -->
<script src="{{ url_for('static', path='/custom/js/user_profile.js')}}"></script>

<script>
    get_info()
</script>
<script>
        const blank_avatar = "{{ url_for('static', path='/custom/image/blank-avatar.png')}}"
        const eth_avatar = "{{ url_for('static', path='/custom/image/Ethereum-Logo.wine.png')}}"
</script>
<style>
    .wallet_number{
        max-width: 75%;
    }
</style>

{% endblock %}
