{% extends "basic_template/basic.html" %}

{% block title %}
    <title>
        Chats
    </title>
{% endblock %}

{% block page_css %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/app-assets/css/pages/app-chat.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/app-assets/css/pages/app-chat-list.css')}}">

{% endblock %}


{% block content %}

<div class="app-content content chat-application">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-area-wrapper container-xxl p-0">
        <div class="sidebar-left">
          <div class="sidebar"><!-- Admin user profile area -->

<!--/ Admin user profile area -->

<!-- Chat Sidebar area -->
<div class="sidebar-content">
  <span class="sidebar-close-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
  </span>
  <!-- Sidebar header start -->
  <div class="chat-fixed-search">
    <div class="d-flex align-items-center w-100">
      <div class="sidebar-profile-toggle">
        <div class="avatar avatar-border">
          <img src="#" alt="user_avatar" height="42" width="42">
          <span class="avatar-status-online"></span>
        </div>
      </div>
      <div class="input-group input-group-merge ms-1 w-100">
        <span class="input-group-text round"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search text-muted"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></span>
        <input type="text" class="form-control round" id="chat-search" placeholder="Search or start a new chat" aria-label="Search..." aria-describedby="chat-search">
      </div>
    </div>
  </div>
  <!-- Sidebar header end -->

  <!-- Sidebar Users start -->
  <div id="users-list" class="chat-user-list-wrapper list-group" style="overflow: scroll;">
    <h4 class="chat-list-title">Users</h4>
    <ul class="chat-users-list chat-list media-list">

      <li class="no-results">
        <h6 class="mb-0">No Users Found</h6>
      </li>
    </ul>
  </div>
  <!-- Sidebar Users end -->
</div>
<!--/ Chat Sidebar area -->

          </div>
        </div>
        <div class="content-right">
          <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
            </div>
            <div class="content-body"><div class="body-content-overlay"></div>
<!-- Main chat area -->
<section class="chat-app-window">
  <!-- To load Conversation -->
  <div class="start-chat-area d-none">
    <div class="mb-1 start-chat-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
    </div>
    <h4 class="sidebar-toggle start-chat-text">Start Conversation</h4>
  </div>
  <!--/ To load Conversation -->

  <!-- Active Chat -->
  <div class="active-chat">
    <!-- Chat Header -->
    <div class="chat-navbar">
      <header class="chat-header">
        <div class="d-flex align-items-center">
          <div class="sidebar-toggle d-block d-lg-none me-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu font-medium-5"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
          </div>
          <div class="avatar avatar-border user-profile-toggle m-0 me-1">
            <img src="{{ url_for('static', path='/custom/image/Ethereum-Logo.wine.png')}}" alt="avatar" height="36" width="36">
          </div>
          <h6 class="mb-0">Crypto Wallet Chat</h6>
        </div>
      </header>
    </div>
    <!--/ Chat Header -->

    <!-- User Chat messages -->
    <div class="user-chats" style="overflow: scroll;">
      <div class="chats">

      </div>
    </div>
    <!-- User Chat messages -->

    <!-- Submit Chat form -->
    <form class="chat-app-form" action="javascript:void(0);" onsubmit="new_message();">
      <div class="input-group input-group-merge me-1 form-send-message">
        <span class="speech-to-text input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mic cursor-pointer"><path d="M12 1a3 3 0 0 0-3 3v8a3 3 0 0 0 6 0V4a3 3 0 0 0-3-3z"></path><path d="M19 10v2a7 7 0 0 1-14 0v-2"></path><line x1="12" y1="19" x2="12" y2="23"></line><line x1="8" y1="23" x2="16" y2="23"></line></svg></span>
        <input type="text" class="form-control message" placeholder="Type your message or use speech to text" value="">
        <span class="input-group-text">
          <label for="attach-doc" class="attachment-icon form-label mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image cursor-pointer text-secondary"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
            <input type="file" id="attach-doc" hidden="" accept=".png, .jpg, .jpeg"> </label></span>
      </div>

      <div class="preview_image">

      </div>

      <button type="button" class="btn btn-primary send waves-effect waves-float waves-light" onclick="new_message();">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send d-lg-none"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
        <span class="d-none d-lg-block">Send</span>
      </button>
    </form>

    <!--/ Submit Chat form -->
  </div>
  <!--/ Active Chat -->
</section>
<!--/ Main chat area -->

<!-- User Chat profile right area -->
<!--<div class="user-profile-sidebar">-->
<!--  <header class="user-profile-header">-->
<!--    <span class="close-icon">-->
<!--      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>-->
<!--    </span>-->
<!--    &lt;!&ndash; User Profile image with name &ndash;&gt;-->
<!--    <div class="header-profile-sidebar">-->
<!--      <div class="avatar box-shadow-1 avatar-border avatar-xl">-->
<!--        <img src="#" alt="user_avatar" height="70" width="70">-->
<!--        <span class="avatar-status-online avatar-status-lg"></span>-->
<!--      </div>-->
<!--      <h4 class="chat-user-name">Kristopher Candy</h4>-->
<!--      <span class="user-post">👩🏻‍💻</span>-->
<!--    </div>-->
<!--    &lt;!&ndash;/ User Profile image with name &ndash;&gt;-->
<!--  </header>-->
<!--  <div class="user-profile-sidebar-area" style="overflow: scroll;">-->
<!--    &lt;!&ndash; User's personal information &ndash;&gt;-->
<!--    <div class="personal-info">-->
<!--      <ul class="list-unstyled">-->
<!--        <li class="mb-1">-->
<!--          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail font-medium-2 me-50"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>-->
<!--          <span class="align-middle">kristycandy@email.com</span>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    &lt;!&ndash;/ User's personal information &ndash;&gt;-->

<!--    &lt;!&ndash; User's Links &ndash;&gt;-->

<!--    &lt;!&ndash;/ User's Links &ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
<!--/ User Chat profile right area -->

            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block script %}
<!--<script src="{{ url_for('static', path='/app-assets/vendors/js/vendors.min.js')}}"></script>-->
<!--<script src="{{ url_for('static', path='/app-assets/js/core/app-menu.js')}}"></script>-->
<script src="{{ url_for('static', path='/app-assets/js/scripts/customizer.min.js')}}"></script>

<script src="{{ url_for('static', path='/app-assets/js/scripts/pages/app-chat.min.js')}}"></script>

<!--Custom css-->
<script src="{{ url_for('static', path='/custom/js/chat.js')}}"></script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>-->


<style>
  .preview_image .delete_preview_image{
    position: absolute;
    z-index: 100;
    border: none;
    background: none;
    margin-left: 20px;
    margin-top: -3px;
  }
.toast {
  background-color: #fff;
  color: #6e6b7b !important; }
</style>

{% endblock %}
