{% extends "basic_template/basic.html" %}

{% block title %}
    <title>
        I-BAY
    </title>
{% endblock %}

{% block page_css %}

{% endblock %}


{% block content %}

<div class="app-content content chat-application">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-6">
                            <h2 class="content-header float-start mb-0">Products</h2>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-end col-md-3 col-12 ">
                    <div class="mb-1 breadcrumb-right">
                        <div class="dropdown">
                            <button type="button" class="btn btn-info waves-effect waves-float waves-light"
                                    style="width: 200px; font-weight: bold" data-bs-toggle="modal"
                                    data-bs-target="#addNewCard" onclick="open_modal()">Create Product
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="row products">
                    <div class="col-12">
                        <div class="card" id="no_products" style="display: none">
                                <div class="card-body text-center">
                                    <h3 style="color: grey; text-align: center">
                                        There are currently no products on iBay</h3>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>

    <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-6">
                            <h2 class="content-header float-start mb-0">Orders</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="row orders">
                    <div class="col-12">
                        <div class="card" id="no_orders" style="display: none">
                                <div class="card-body text-center">
                                    <h3 style="color: gray; text-align: center">
                                        You don't have any orders. Please buy something</h3>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>

            <div class="modal fade" id="addNewCard" tabindex="-1" aria-labelledby="addNewCardTitle" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-transparent">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-sm-5 mx-50 pb-5">
                                <h1 class="text-center mb-1" id="addNewCardTitle">Create Product</h1>

                                <!-- form -->
                                <form id="addNewCardValidation" class="row gy-1 gx-2 mt-75" onsubmit="return false" novalidate="novalidate">
                                    <div class="col-12">
                                        <label class="form-label" for="modal_title">Title:</label>
                                        <div class="input-group input-group-merge">
                                            <input id="modal_title" name="modalAddCard" class="form-control add-credit-card-mask" type="text" placeholder="Please enter title" aria-describedby="modalAddCard2" data-msg="Please enter address">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label" for="modal_price">Price:</label>
                                        <div class="input-group input-group-merge">
                                            <input id="modal_price" name="modalAddCard" class="form-control add-credit-card-mask" type="text" placeholder="Please enter price" aria-describedby="modalAddCard2" data-msg="Please enter">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label" for="modal_wallet">Wallet:</label>
                                        <div class="input-group input-group-merge">
                                            <select class="form-select" id="modal_wallet">
                                        </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label" for="modal_image">Image:</label>
                                        <div class="row">
                                            <div class="col-4">
                                                <label for="modal_image" class="btn btn-sm btn-primary mb-75 me-75 waves-effect waves-float waves-light">Upload</label>
                                                <input type="file" id="modal_image" hidden="" accept="image/*">
                                            </div>
                                            <div class="preview_image col-8"> </div>
                                        </div>
                                    </div>

                                    <div class="col-12 text-center">
                                        <button type="buttton" class="btn btn-primary me-1 mt-1 waves-effect waves-float waves-light" onclick="create_product()" data-bs-dismiss="modal" aria-label="Close">Submit</button>
                                        <button type="reset" class="btn btn-outline-secondary mt-1 waves-effect" data-bs-dismiss="modal" aria-label="Close">
                                            Cancel
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>

          <div class="modal fade" id="BuyProduct" tabindex="-1" aria-labelledby="addNewCardTitle" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-transparent">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-sm-5 mx-50 pb-5">
                                <h1 class="text-center mb-1" id="BuyProductTitle">Buy</h1>

                                <!-- form -->
                                <form id="BuyProductValidation" class="row gy-1 gx-2 mt-75" onsubmit="return false" novalidate="novalidate">
                                    <div class="col-12">
                                        <label class="form-label" for="modal_wallet">Wallet:</label>
                                        <div class="input-group input-group-merge">
                                            <select class="form-select" id="modal_buy_wallet">

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button type="buttton" class="btn btn-primary me-1 mt-1 waves-effect waves-float waves-light" onclick="buy_product()" data-bs-dismiss="modal" aria-label="Close">Buy</button>
                                        <button type="reset" class="btn btn-outline-secondary mt-1 waves-effect" data-bs-dismiss="modal" aria-label="Close">
                                            Cancel
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>




</div>

{% endblock %}



{% block script %}
<script src="{{ url_for('static', path='/custom/js/ibay.js')}}"></script>



<script>
    const eth_avatar = "{{ url_for('static', path='/custom/image/Ethereum_logo.svg.png')}}"
</script>
<style>
        .demo-inline-spacing .btn{
            margin-left: auto;
            margin-right: auto;
        }

        .tooltip-inner {
            white-space: pre-wrap;
        }

        @media (min-width: 576px){
        .modal-dialog {
            max-width: 550px;
            margin: 1.75rem auto;
        }
        }
        @media (min-width: 750px){
        .modal-dialog {
            max-width: 650px;
            margin: 1.75rem auto;
        }
        }
        @media (min-width: 992px) {
            .modal-lg, .modal-xl {
                max-width: 800px;
            }
        }
        @media (min-width: 1200px) {
            .modal-lg, .modal-xl {
                max-width: 94%;
            }
        }

        .righted {
            position: absolute;
            right: 35px;
            width: 150px;
        }
        .preview_image .delete_preview_image {
            position: absolute;
            z-index: 100;
            border: none;
            background: none;
            margin-left: 20px;
            margin-top: -3px;
        }



</style>
{% endblock %}